

.section {
position: relative;
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;

}

.section h1 {
text-align: center;
color: aliceblue;
font-size: 6rem;
font-family: "Cookie";
padding: 20px;
margin: 15px;
z-index: 1;
opacity: 0.7;
}

.video-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
}

video-view {
  position: relative;
  width: 300px;
  height: 100px;
}
.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    }
    
    .section h1 {
    text-align: center;
    color: aliceblue;
    font-size: 6rem;
    font-family: "Cookie";
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
    }
    
    .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    }
    
    video-view {
      position: relative;
      width: 300px;
      height: 100px;
    }
    .logo{
        margin: 40px;
        height: 40px;
    }
    .directbtn{    
        
        width: 200px;     
        font-size: 18px;     
        padding: 10px;    
         border: none;     
         background: #000;   
           color: #fff;     
           cursor: pointer; }  
    .directbtn:hover {    
         background: #ddd;    
          color: black;
         }