.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h1 {
    text-align: center;
    color: yellow;
    font-size: 6rem;
    font-family: "Cookie";
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

video-view {
    position: relative;
    width: 300px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, rgb(255, 255, 0.79), rgba(255, 0, 232, 0.04));
    color: #f1f1f1;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h1 {
    text-align: center;
    color: rgb(9, 13, 15);
    font-size: 6rem;
    font-family: "fantasy";
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(167, 138, 164, 0.079));
}

video-view {
    position: relative;
    width: 300px;
    height: 100px;
}

.logo {
    margin: 40px;
    height: 40px;
}

#button {
    left: 500px;
    top: 460px;
    position: fixed;
    z-index: 1
}

#adult {
    left: 900px;
    top: 460px;
    position: fixed;
    z-index: 1
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.adulttip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


/* Tooltip text */

.adulttip .adulttiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.adulttip:hover .adulttiptext {
    visibility: visible;
}

#kid {
    right: 1100px;
    top: 460px;
    position: fixed;
    z-index: 1
}

.kidtip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


/* Tooltip text */

.kidtip .kidtiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.kidtip:hover .kidtiptext {
    visibility: visible;
}